.oh-my-zsh/cache/*
.vim/.viminfo
.vim/backup/
.vim/bundle/
.vim/tmp/
.vim/.netrwhist
.vim/*.tmp

.config/*
!.config/ranger
!.config/zathura
!.config/vimb
!.config/nvim/init.vim
!.config/nvim/plugin/*
!.config/autostart/*
