!xterm*faceName: Dejavu Sans Mono:style=Book:antialias=true:hinting=medium
!URxvt.font: xft:Dejavu Sans Mono:bold:size=10:antialias=true

! Avec Menlo j'ai des problemes d'esapcement entre les characteres dans la console virtuelle i3 
! URxvt*font:                 xft:Menlo for Powerline:regular:size=9
! URxvt*imFont:               xft:Menlo for Powerline:regular:size=9
! URxvt*boldFont:             xft:Menlo for Powerline:bold:size=9
! URxvt*italicFont:           xft:Menlo for Powerline:italic:size=9
! URxvt*boldItalicFont:       xft:Menlo for Powerline:bold:italic:size=9

URxvt*font: xft:DejaVu Sans Mono:antialias=true:pixelsize=11
URxvt*boldFont: xft:DejaVu Sans Mono:style=bold:antialias=true:pixelsize=11
URxvt*italicFont: xft:DejaVu Sans Mono:style=italic:antialias=true:pixelsize=11
URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=bolditalic:antialias=true:pixelsize=11


!Xft Settings to render crisp fonts 
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

xterm*faceSize: 10

URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.url-launcher: /usr/bin/dwb
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,tabbedex,matcher,clipboard,keyboard-select

!URxvt.keysym.C-Up:     perl:font-size:increase
!URxvt.keysym.C-Down:   perl:font-size:decrease
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.tabbed.new-button: false
Xxvt.intensityStyles: false

! N'affiche plus le rectangle d'information "KeyCAP" quand on fait un Control-C
URxvt.iso14755 : false

! URxvt.keysym.M-c:   perl:clipboard:copy
! URxvt.keysym.M-v:   perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! URxvt.keysym.C-c:   perl:clipboard:copy
! URxvt.keysym.C-v:   perl:clipboard:paste


! URxvt.keysym.Shift-Control-C: perl:clipboard:copy
! URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.keysym.Control-c: perl:clipboard:copy
URxvt.keysym.Control-v: perl:clipboard:paste

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard


URxvt.clipboard.autocopy:  true

! URxvt.xselection.copycmd:  xclip -i 
! URxvt.xselection.pastecmd: xclip -o 
!
! URxvt.keysym.Shift-Control-Y: perl:xselection:copy
! URxvt.keysym.Shift-Control-P: perl:xselection:paste

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search


!Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt*background:              S_base03
URxvt*foreground:              S_base0
URxvt*fading:                  40
URxvt*fadeColor:               S_base03
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color8:                  S_base03
URxvt*color9:                  S_orange
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URsvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxv!*color15:                 S_base3cursor.theme: Ecliz-Arch
